.pistol-container {
  display: flex;
  flex-direction: column;
  width: 7.1vw;
  height: 8.1vw;
  margin-left: 3vw;
}

.pistol-icon-container,
.no-pistol-to-show {
  border: 0.1vw #8d8d8d solid;
  backdrop-filter: blur(6px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6.8vw;
  margin-top: 0.1vw;
}

.pistol-icon {
  width: 99%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

.pistol-button {
  color: #f5f5f5;
  cursor: pointer;

  width: 7.3vw;
  justify-content: center;
  align-items: center;
  margin-left: -0.05vw;
  height: 1.05vw;
}

.pistol-title-container {
  display: flex;
  font-size: 0.6vw;
  background: rgb(38, 38, 38);
  background: linear-gradient(
    180deg,
    rgba(38, 38, 38, 1) 6%,
    rgba(22, 23, 22, 1) 81%,
    rgba(38, 38, 38, 1) 100%
  );
  color: #f5f5f5;
  justify-content: center;
  align-items: center;
  border: 0.1vw solid #b6b6b6;
  box-sizing: border-box;
  text-transform: uppercase;
}

.pistol-name-container {
  color: #f5f5f5;
  border: 0.1vw #8d8d8d solid;
  width: 6vw;
  background-color: #353935;
  padding: 0.1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 0.6vw;
  top: -0.5vw;
  position: relative;
  margin-left: 0.55vw;
}

.no-pistol-to-show {
  font-size: 0.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f5f5f5;
}

@media only screen and (max-width: 959px) {
  .pistol-container {
    width: 24vw;
    height: 30vw;
    margin-left: 10vw;
  }
  .pistol-icon-container,
  .no-pistol-to-show {
    margin-top: 0.4vw;
    height: 22.5vw;
  }
  .pistol-button {
    height: 4vw;
    width: 24.75vw;
    font-size: 2.5vw;
    margin-left: -0.25vw;
  }
  .pistol-name-container {
    margin-top: -1.5vw;
    width: 20vw;
    font-size: 2.5vw;
    margin-left: 2vw;
    height: 3.5vw;
  }
  .no-pistol-to-show {
    font-size: 3vw;
  }
  .pistol-title-container {
    height: 4vw;
    width: 24vw;
    font-size: 2.5vw;
  }
}
@media only screen and (min-width: 960px) {
  .pistol-container {
    height: 8vw;
  }
  .pistol-name-container {
    margin-top: -0.2vw;
  }
  .pistol-icon-container {
    margin-top: 0.01vw;
    height: 6.6vw;
  }
}
