.small-item-container {
  display: flex;
  flex-direction: column;
  width: 7.1vw;
  height: 13.5vh;
}

.small-item-icon {
  height: 100%;
}

.small-item-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 0.1vw solid #b6b6b6;
  color: whitesmoke;
  font-size: 0.6vw;
  background: rgb(38, 38, 38);
  background: linear-gradient(
    180deg,
    rgba(38, 38, 38, 1) 6%,
    rgba(22, 23, 22, 1) 81%,
    rgba(38, 38, 38, 1) 100%
  );
  text-transform: uppercase;
}

.small-item-icon-container,
.no-small-item-to-show {
  border: 0.1vw #8d8d8d solid;
  backdrop-filter: blur(6px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 13.2vh;
  margin-top: 0.1vh;
}

.small-item-name-container {
  color: #f5f5f5;
  border: 0.1vw #8d8d8d solid;
  width: 6vw;
  background-color: #353935;
  padding: 0.1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 0.6vw;
  top: -0.6vh;
  left: 0.55vw;
  position: relative;
}

.icon-loading {
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-small-item-to-show {
  font-size: 0.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f5f5f5;
  text-transform: uppercase;
}

@media only screen and (max-width: 960px) {
  .small-item-container {
    width: 24vw;
    height: 30vw;
  }

  .small-item-icon-container,
  .no-small-item-to-show {
    height: 23vw;
    margin-top: 0.4vw;
  }

  .small-item-name-container {
    width: 20vw;
    font-size: 2.5vw;
    margin-top: -1.5vw;
    margin-left: 1.5vw;
  }

  .no-small-item-to-show {
    font-size: 3vw;
  }

  .icon-loading {
    height: 23vw;
  }

  .small-item-title-container {
    height: 4vw;
    width: 24vw;
    font-size: 2.5vw;
  }
}

@media only screen and (min-width: 961px) {
  .small-item-container {
    width: 7.1vw;
    height: auto;
  }
  .small-item-name-container {
    margin-top: -0.4vw;
  }
}
