.primary-container {
  display: flex;
  flex-direction: column;
  width: 17.2vw;
  height: 8.1vw;
  margin-left: 1.35vw;
}

.primary-icon-container,
.no-primary-to-show {
  border: 0.1vw #8d8d8d solid;
  box-sizing: border-box;
  overflow: hidden;
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);
  height: 6.8vw;
  margin-top: 0.1vw;
  padding: 0 1vw;
}

.primary-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  border: 0.1vw #8d8d8d solid;
  position: relative;
  top: -0.5vw;
  background-color: #353935;
  padding: 0.1vw;
  box-sizing: border-box;
  width: 8vw;
  margin-left: 4.5vw;
  font-size: 0.6vw;
}

.primary-title-container {
  font-size: 0.6vw;
  background: rgb(38, 38, 38);
  background: linear-gradient(
    180deg,
    rgba(38, 38, 38, 1) 6%,
    rgba(22, 23, 22, 1) 81%,
    rgba(38, 38, 38, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  border: 0.1vw solid #b6b6b6;
  box-sizing: border-box;
  text-transform: uppercase;
}

.primary-icon {
  width: 100%;
  height: auto;
}

.no-primary-to-show {
  font-size: 0.8vw;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f5f5f5;
}

@media only screen and (max-width: 959px) {
  .primary-container {
    width: 58vw;
    margin-left: 4vw;
    height: 31vw;
  }
  .primary-icon-container,
  .no-primary-to-show {
    margin-top: 0.4vw;
    height: 22.5vw;
    padding: 0 3vw;
  }
  .primary-title-container {
    height: 4vw;
    width: 58vw;
    font-size: 2.5vw;
  }
  .primary-name-container {
    width: 30vw;
    height: 3.5vw;
    font-size: 2.5vw;
    margin-top: -1.5vw;
    margin-left: 13.5vw;
  }
  .no-primary-to-show {
    font-size: 3vw;
  }
}

@media only screen and (min-width: 960px) {
  .primary-container {
    height: 8vw;
  }
  .primary-name-container {
    margin-top: -0.2vw;
  }
  .primary-icon-container {
    height: 6.6vw;
    margin-top: 0.01vw;
  }
}
