.bar-container {
  height: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: rgb(14, 16, 14);
  background: linear-gradient(
    90deg,
    rgba(14, 16, 14, 1) 18%,
    rgba(22, 24, 18, 1) 47%,
    rgba(20, 21, 17, 1) 100%
  );
  position: fixed;
  top: 0px;
  z-index: 1;
  box-shadow: 5px 5px 15px black;
}

.nav-container {
  display: flex;
  width: 75%;
  justify-content: space-between;
}

.logo-wrapper {
  display: flex;
}

.logo-container {
  display: flex;
}

.link-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 10%;
}

.logo-text {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: bold;
  color: #f5f5f5;
}

.link-text {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: bold;
  color: #f5f5f5;
}

@media screen and (max-width: 500px) {
  .bar-container {
    height: 10vw;
  }

  .logo-text {
    font-size: 5vw;
  }

  .link-wrapper {
    width: 20%;
  }

  .link-text {
    font-size: 5vw;
  }
}
